main{
    width: 100%;
    background-color: #ffffff;
    color: black;
}
.list_products{
    max-width: 100%;
    text-align-last: center;
}
.list_products ul{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    -webkit-box-shadow: 10px 2px 30px -5px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 2px 30px -5px rgba(0,0,0,0.56);
    box-shadow: 10px 2px 30px -5px rgba(0,0,0,0.56);
    padding-bottom: 10px;
    
}
.box_img_product{
    height: 200px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}
.card_info{
    
    
    text-align: center;
    border-radius: 5px;
    width: 250px;
    
}
.card_info h3{
    text-transform:capitalize;
}
.product_info{
    display: flex;
    place-items: self-start;
    flex-direction: column;
    margin: 13px;
}
.card_info button{
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100px;
  
}
.onTheList{
    background-color: #3A61C5;
    
}
.offTheList{
    background-color: rgb(117, 17, 17);
  
}
.icon_button{
    width: 35px;
}
.details p{
    height: 27px;
    font-size:15px;
}
.card_image{
    height: 195px;
    border-radius: 10px;
    object-fit: contain;
}
